{% extends 'base.html' %}
{% block body %}
  <script type="text/javascript" charset="utf-8">
  function loadImage(agent, datapoint ,width, height, target) {
  $('<img class="center-block" src="/fetch/agent/graph/'+ agent +'/'+ datapoint +'">').load(function() {
    $(this)
    .width(width)
    .height(height)
    .appendTo(target)
    .wrap('<a href="/graphs/'+ agent + '/' + datapoint + '"></a>');
    });
  }

  function loadStackedImage(agent, stack_type ,width, height, target) {
  $('<img class="center-block" src="/fetch/agent/graph/stacked/'+ agent +'/'+ stack_type +'">').load(function() {
    $(this)
    .width(width)
    .height(height)
    .appendTo(target)
    .wrap('<a href="/graphs/'+ agent + '/' + stack_type + '"></a>');
    });
  }
  
  loadStackedImage("{{uid}}", "memory" ,630, 240, "#memory-graph-area");
  loadStackedImage("{{uid}}", "load" ,630, 240, "#load-graph-area");
  
  {% for datapoint_name, value in data.items() %}
    {% if "memory_available".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 480, 160, "#memory-thumbnail-area");
    {% endif %}
    {% if "cpu_idle".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 480, 160, "#cpu-thumbnail-area");
    {% endif %}
    {% if "disk_usage_total".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 480, 160, "#disk-thumbnail-area");
    {% endif %}
    {% if "network_packets_sent".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 480, 160, "#network-thumbnail-area");
    {% endif %}
  {% endfor %}
  </script>
  <div class="col-lg-3">
    <div class="data-box" id="home-box">
      <div class="container-fluid">
        {{ hostname.decode("UTF-8") }}
      </div>
    </div>
    <div class="data-box" id="home-box">
      <div class="container-fluid">
        <table class="table table-striped">
          <tbody cla>
            <tr>
              <td>Version</td>
              <td>{{ data['release'.encode()][1].decode("UTF-8") }}</td>
            </tr>
            <tr>
              <td>Operating system</td>
              <td>{{ data['distribution'.encode()][1].decode("UTF-8") }}</td>
            </tr>
            <tr>
              <td>System name</td>
              <td></td>
            </tr>
            <tr>
              <td>Contact</td>
              <td></td>
            </tr>
            <tr>
              <td>Location</td>
              <td></td>
            </tr>
            <tr>
              <td>Uptime</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="data-box" id="home-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p><a href="/{{uid}}/processors">Processors</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="/{{uid}}/memory">Detailed Memory</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" id="cpu-thumbnail-area" class="thumbnail"></div>
          <div class="col-md-6" id="memory-thumbnail-area" class="thumbnail"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><a href="/{{uid}}/Disk">Disk</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="/{{uid}}/Network">Network</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" id="disk-thumbnail-area" class="thumbnail"></div>
          <div class="col-md-6" id="network-thumbnail-area" class="thumbnail"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid data-box">
          <div class="row">
            <div class="col-md-1">
              <p><a href="/{{uid}}/home">Overview</a></p>
            </div>
            <div class="col-md-1">
              <p><a href="/{{uid}}/datapoints">Datapoints</a></p>
            </div>
            <div class="col-md-2">
              <p><a href="/{{uid}}/graphs">Graphs</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="data-box" id="memory-box">
          <div class="container-fluid">
            <div class="row box-title">
              <div class="col-lg-12">
                <h4>Memory</h4>
              </div>
            </div>
            <div class="row" id="memory-graph-area">
            </div>
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="20px">
                        <i class="fa fa-square" aria-hidden="true" style="color: #71D5C3;"></i>
                      </td>
                      <td>
                        <p class="small">Used memory</p>
                      </td>
                      <td width="20px">
                        <i class="fa fa-square" aria-hidden="true" style="color: #009DB2;"></i>
                      </td>
                      <td>
                        <p class="small">Free memory</p>
                      </td>
                      <td width="20px">
                        <i class="fa fa-square" aria-hidden="true" style="color: #f0e0a0;"></i>
                      </td>
                      <td>
                        <p class="small">Total memory</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="data-box" id="disk-box">
          <div class="container-fluid">
            <div class="row box-title">
              <div class="col-lg-12">
                <h4>Disk</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="20px"> <a href=""><b>/</b></a> </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-used-disk" style="width: 65%">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h5>Partitions</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><a href=""><b>sda1</b></a> </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-used-disk" style="width: 65%">
                            <span>20G/80G</span>
                          </div>
                        </div>
                      </td>
                      <td><a href=""><b>sda2</b></a> </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-used-disk" style="width: 65%">
                            <span>20G/80G</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="data-box" id="memory-box">
          <div class="container-fluid">
            <div class="row box-title">
              <div class="col-lg-12">
                <h4>Network</h4>
              </div>
            </div>
            <div class="row" id="network-graph-area">
            </div>
          </div>
        </div>
        <div class="data-box" id="memory-box">
          <div class="container-fluid">
            <div class="row box-title">
              <div class="col-lg-12">
                <h4>Load</h4>
              </div>
            </div>
            <div class="row" id="load-graph-area">
            </div>
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><i class="fa fa-square" aria-hidden="true" style="color: #FDBB5D;"></td>
                      <td><p class="small">1 minute load avg</p></td>
                      <td><i class="fa fa-square" aria-hidden="true" style="color: #FA9469;"></td>
                      <td><p class="small">5 minute load avg</p></td>
                      <td><i class="fa fa-square" aria-hidden="true" style="color: #F37372;"></td>
                      <td><p class="small">15 minute load avg</p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}