{% extends 'base.html' %}

{% block body %}
<script type="text/javascript" charset="utf-8">
</script>
<div class="container">
  <!-- Page Layout here -->
  <div class="box" id="home-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p>Host Name:</p>
          <p>IP:</p>               								
          <p>System: {{data['system']}}</p>      								
          <p>OS: {{data['distribution']}}</p>
          <p>Release: {{data['release']}}</p>      								
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Page Layout here -->
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row box-title">
        <div class="col-lg-12">
          <h4>Memory</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <p>Total Memory</p>
        </div>
        <div class="col-lg-8">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 35%">
            </div>
            <div class="progress-bar progress-bar-info" style="width: 65%">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-3">
              <p>Used Memory</p>
            </div>
            <div class="col-lg-8">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 35%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <p>Free Memory</p>
            </div>
            <div class="col-lg-8">
              <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 65%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-3">
              <p>Free Swap</p>
            </div>
            <div class="col-lg-8">
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <p>Used Swap</p>
            </div>
            <div class="col-lg-8">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 65%">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/217" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/218" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/219" alt=""/>	
        </div>
      </div>       			
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>CPU</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <p>Placeholder</p> 
        </div>
        <div class="col-lg-8">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 35%">
            </div>
            <div class="progress-bar progress-bar-info" style="width: 65%">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/135" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/136" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/137" alt=""/>	
        </div>
      </div>       			
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>Disk IO</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/210" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/211" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/212" alt=""/>	
        </div>
      </div>       			
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>Network</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/245" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/246" alt=""/>	
        </div>
        <div class="col-lg-4">
          <img class="graph" src="http://calico.palisadoes.org:5000/fetch/agent/graph/a172536ba0956f6bc4bf22ba9f04907bf1bb92cbeb9bac5b6d14062a8d8813fc/247" alt=""/>	
        </div>
      </div>       			
    </div>
  </div>
</div>
{% endblock %}
