{% extends 'base.html' %}

{% block body %}
<script type="text/javascript" charset="utf-8">

  function loadImage(agent, datapoint ,width, height, target) {
    $('<img class="center-block" src="/fetch/agent/graph/'+ agent +'/'+ datapoint +'">').load(function() {
      $(this)
        .width(width)
        .height(height)
        .appendTo(target)
        .wrap('<a href="/graphs/'+ agent + '/' + datapoint + '"></a>');
    });
  }
  {% for datapoint_name, value in data.items() %}
    {% if "memory_active".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 900, 258, "#memory-graph-area");
    {% endif %}
    {% if "cpu_idle".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 900, 258, "#cpu-graph-area");
    {% endif %}
    {% if "disk_usage_total".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 900, 258, "#disk-graph-area");
    {% endif %}
    {% if "network_bytes_sent".encode() in datapoint_name %}
      loadImage("{{uid}}", "{{value[0]}}", 900, 258, "#network-graph-area");
    {% endif %}
  {% endfor %}
</script>

<div class="container">
  <!-- Page Layout here -->
  <div class="box" id="home-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p>System: {{data['system'][1]}}</p>
          <p>OS: {{data['distribution'][1]}}</p>
          <p>Release: {{data['release'][1]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Page Layout here -->
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row box-title">
        <div class="col-lg-12">
          <h4>Memory</h4>
        </div>
      </div>

      <div class="row" id="memory-graph-area">

      </div>
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>CPU</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 center-block" id="cpu-graph-area">
        </div>
      </div>
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>Disk IO</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" id="disk-graph-area">

        </div>
      </div>
    </div>
  </div>
  <div class="data-box" id="memory-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h4>Network</h4>
        </div>
      </div>
      <div class="row" id="network-graph-area">
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
