{% extends 'base.html' %}
{% block body %}
	<div class="col-lg-4">
		<div class="data-box" id="home-box">
			<div class="container-fluid">
				<div class="row box-title">
					<div class="col-lg-12">
						<h4>Search Hosts</h4>
					</div>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 form-group">
							<input type="" name="" class="form-control" placeholder="Host Name">
						</div>
						<div class="col-md-6 form-group">
							<select class="form-control">
								<option>Operating System</option>
							</select>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="row">
			<div class="data-box">
				<table class="table table-striped" id="accordion" aria-multiselectable="true">
					<thead>
						<tr>
							<td>Host Name</td>
							<td>IP Address</td>
							<td>Description</td>
							<td>Enabled</td>
							<td>SNMP Enabled</td>
							<td>Last Modified</td>
						</tr>
					</thead>
					{% for host in host_list %}
						<tr role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<td><a href="/{{ host }}">{{ host.hostname.decode("UTF-8") }}</a></td>
							<td>{{ host.ip_address }}</td>
							<td>{{ host.description.decode("UTF-8") }}</td>
							<td>{{ host.enabled }}</td>
							<td>{{ host.snmp_enabled }}</td>
							<td>{{ host.ts_modified }}</td>
						</tr>
						<tr>
							<td>
								<div id="collapseOne" class="collapse">
									{% for agent in agent_list %}
										<p><b>Agent: </b><a href="/{{agent.id.decode("UTF-8")}}">{{ agent.name.decode("UTF-8") }}</a></p>
									{% endfor %}									
								</div>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}