.navbar-default {
    color: white;
    background-color: #f05b5c
}

body {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

.box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin-top: 10px;
    background-color: white;
    padding-bottom: 20px;
}

.table {
    background-color: white;
    margin-bottom: 0;
}

.graph-preview {
    max-width: 570px;
}

.searchbutton
{
   background-color: #ff1919;
   border: none;
   color: white;
   padding: 3px 26px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
}

.searchbox
{
    margin-top: 10px;
    float:right;
}

